.progres-types {
  background-color: #fff;
  padding: 5px 10px;
  border-radius: 10px;
}
.type-date {
  margin: 10px 0;
  display: flex;
  justify-content: center;
}
.type-date__item {
  margin-right: 30px;
  font-size: 20px;
  font-weight: bold;
}
.summ-block {
  margin: 10px 0;
  display: flex;
  justify-content: flex-end;
}
.type-summ {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 55%;
}
.type-summ__total {
  font-size: 22px;
  font-weight: bold;
}

.progress {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 30px;
  margin-top: 30px;
}
