.type-add {
  position: relative;
  padding: 15px;
  max-width: 800px;
  margin: auto;
  display: none;
  flex-direction: column;
  background: #a0a0a0;
}
.type-add.visible {
  display: flex;
}
.type-add__items {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.type-add__item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
.type-add__item label {
  cursor: pointer;
  margin-right: 10px;
  margin-left: 5px;
  font-size: 18px;
}
.type-add__item img {
  width: 40px;
  height: 40px;
  margin-right: 8px;
}
.type-add__title {
  font-size: 18px;
}
.add-block-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  background: cadetblue;
  padding-top: 10px;
  margin-bottom: 15px;
}
.add-block-menu li {
  list-style-type: none;
  margin-right: 15px;
  margin-bottom: 15px;
}
.add-block__input {
  padding: 5px;
  min-width: 300px;
  text-align: center;
  margin: auto;
  margin-bottom: 15px;
}
.add-block-menu label {
  padding-left: 5px;
  font-size: 22px;
  color: #fff;
  cursor: pointer;
}
.add-btn__clouse {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
  padding: 4px 6px;
  font-weight: bold;
}
.type-btn__add {
  margin-bottom: 20px;
}
.summ-block__btn.type-btn {
  min-width: 300px;
  margin: 0 auto;
}
